/* agar font pada body menjadi poppins */
body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}

/* agar main content dan sidebar terbagi menjadi 2 */
.container {
    display: flex;
    min-height: 100vh;
    transition: margin-left 0.3s ease-in-out;
}

/* Style untuk sidebar */
    .sidebar {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 250px;
        background-color: #9BC8D7;
        color: white;
        position: fixed;
        left: 0; /* Default: sidebar terbuka */
        transition: transform 0.3s ease;
        padding: 20px;
        top: 0;
        z-index: 1000;
    }

    .sidebar.closed {
        transform: translateX(-220px); /* Geser sidebar ke kiri saat ditutup */
    }

    .menu {
        padding-left: 10px;
    }

    .menu li {
        display: flex;
        gap: 20px;
        padding: 15px 10px;
        cursor: pointer;
    }

    .menu li:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    /* Style untuk ikon toggle */
    .sidebar .logo i {
        cursor: pointer;
        font-size: 24px;
        position: absolute;
        top: 25px;
        right: 20px; /* Posisikan ikon di dalam sidebar */
        color: white; /* Warna ikon */
    }

    /* style untuk tulisan */
    .sidebar .logo p {
        font-weight: bolder;
    }

    .sidebar .logo span {
        color: red;
    }

    /* Kalau sidebar ditutup, geser kontennya */
    .sidebar.closed ~ main {
        margin-left: 180px;
    }

    /* Style untuk footer */
    .sidebar .footer {
        margin-bottom: 20px;
        margin-top: 80px;
    }

/* Main Content Styles */
    main {
        flex-grow: 1;
        padding: 20px;
        margin-top: 40px;
        margin-left: 380px; /* Sesuaikan margin dengan lebar sidebar */
        margin-right: 150px;
        margin-bottom: 50px;
        transition: margin-left 0.3s ease-in-out;
    }

    main h1 {
        font-size: 30px;
    }

    /* untuk tampilan awal di Dashboard */
        .main_dashboard h1 {
            font-weight: bold;
        }

        .main_dashboard header h1 span {
            color: #0066FF;
        }

        .main_dashboard header h1 {
            font-weight: bold;
        }

        .main_dashboard header h3 {
            margin-top: -15px;
            font-weight: 600;
            font-size: 18px;
        }

        .main_dashboard header h3 span {
            color: red;
        }

        .opening p {
            margin-bottom: 50px;
        }

        .as_admin {
            border: 1px solid black;
            border-radius: 8px;
            padding: 15px;
        }

        .as_admin  {
            text-align: center;
        }

        ul li span {
            font-weight: bolder;
        }

        .footer-main {
            text-align: right;
            margin: 10px;
        }
        
        .container-admin {
            display: flex;
            margin: 30px 10px;
            justify-content: space-around;
            transition: margin-left 0.3s ease-in-out;
        }

        .container-admin img {
            width: 120px;
            border-radius: 5px;
        }

        .container-admin h3 {
            margin-bottom: -10px;
        }

        .text-container {
            font-size: 12px;
            gap: 4px;
            margin: 0;
            display: flex;
            text-align: center;
        }

        .grid {
            transition: margin-left 0.3s ease-in-out;
            justify-content: center;
            margin-top: 20px;
            display: flex;
            gap: 30px;
        }

        .one-grid {
            border: 1px solid black;
            border-radius: 10px;
            padding: 10px 120px;
            text-align: center;
            margin-bottom: -10px;
        }

        .one-grid svg {
            margin-top: 30px;
        }

        .one-grid svg, h5 {
            margin-bottom: -20px;
        }

    table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            font-size: 14px;
        }

        thead {
            transition: 0.3s ease-in-out;
            background-color: #63b9d6;
            color: white;
        }

        th, td {
            transition: 0.3s ease-in-out;
            border: 1px solid #ddd;
            text-align: left;
            padding: 12px;
        }

        th:hover {
            transition: 0.3s ease-in-out;
            background-color: rgb(139, 154, 168);
        }

        td:hover {
            transition: 0.3s ease-in-out;
            background-color: #ddd;
        }
    
    .loan-data {
        display: flex;
        justify-content: space-around;
        margin-bottom: 40px;
        background-color: #E3F8FF;
        padding: 20px 5px;
        border-radius: 10px;
    }

        .text-loan {
            margin-left: -150px;
        }

        .loan-data a {
            background-color: #2686A6;
        }

        .loan-data img {
            width: 120px;
            border-radius: 10px;
        }

        .user-books {
            margin-top: 20px;
            padding: 20px;
            border-radius: 10px;
            background-color: #61b7d33b;
        }

        .container-btn {
            display: flex;
            justify-content: center;
            padding-block: 50px;
        }

        .btn-edit {
            background: #4CAF50;
            color: white;
            padding: 5px 10px;
            border-radius: 4px;
            text-decoration: none;
            margin-right: 5px;
        }

        .btn-delete {
            background: #f44336;
            color: white;
            padding: 5px 10px;
            border-radius: 4px;
            text-decoration: none;
        }

        .btn-create {
            display: inline-block;
            background: #2196F3;
            color: white;
            padding: 10px 20px;
            border-radius: 6px;
            text-decoration: none;
            margin-bottom: 20px;
            float: right;
            transition: 0.3s ease-in-out;
        }

        .btn-create:hover {
            background-color: #3b718d;
            transition: 0.3s ease-in-out;
        }

        .back-btn {
            margin-bottom: 30px;
            }

            .navigation {
                text-decoration: none;
                color: #2686A6;
                transition: 0.3s ease-in-out;
            }

            .navigation:hover {
                transition: 0.3s ease-in-out;
                background-color: #e1ecf0;
                padding: 10px;
                border-radius: 5px;
            }